* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #b36200;
    color: white;
    font-family: 'Verdana';
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero-wrapper {
    background: rgb(46, 44, 41);
    background: radial-gradient(circle, rgb(46, 44, 41)0%, rgba(0,0,0,1) 100%);
}

.wrapper {
    padding: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;

    .logo {
        font-weight: bold;
    }

    ul {
        display: flex;

        li a {
            padding: 0 .6em;
        }
    }
}

.hero-content {
    margin: 4em 0 2em;
    text-align: right;

    .subtitle {
        margin-bottom: 0;
    }
}

.light-wrapper {
    background: #cc7000;
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    justify-content: space-around;
    margin-top: 2em;

    li {
        margin-bottom: 1.5em;
    }

    strong {
        font-size: 1.4em;
    }

    span {
        display: block;
        text-transform: uppercase;
        font-size: .75em;
    }
}

.arrows {
    display: none;
}

.extended-wrapper {
    padding: 0 1.5em 2em;
    max-width: 1230px;
    margin: 0 auto;
}

ul.carousal {
    margin-bottom: 1em;

    li {
        background: #945100;
        padding: 1em;
        margin-bottom: 1em;
    }
}

blockquote {
    margin: 0;
    font-size: .8em;
    line-height: 1.8em;
    margin-bottom: 1em;
}

cite {
    color: #ffaf4d;
    font-weight: bold;
    font-size: .8em;
    font-style: normal;
    position: relative;
    padding-left: 25px;
}

cite::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    height: 1px;
    width: 20px;
    border-bottom: 1px solid white;
}

h2 {
    text-align: center;
    position: relative;
}

h2::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 30px;
    background: #ffaf4d;
    top: -.3em;
}

.companies {
    text-align: center;
    opacity: .9;

    li {
        margin: 2em 0;
    }

    .companies-one {
        height: 200px;
    }

    .companies-two {
        height: 200px;
    }

    .companies-three {
        height: 130px;
    }
}

.polaroid {
    background: white;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);

    img{
        
    max-width: 100%;
    height: auto;
    }
}

.caption {
    color: #000;
    font-size: 1.8rem;
    text-align: center;
    line-height: 2rem;
}

.item {
    width: 30%;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
}

.item .polaroid::before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.35s;
}

.item:nth-of-type(5n+1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
}

.item:nth-of-type(5n+1) .polaroid::before {
    transform: rotate(6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba($color: #000000, $alpha: 0.4);
}

.item:nth-of-type(5n+2) {
    transform: scale(0.8, 0.8) rotate(-5deg);
    transition: all 0.35s;
}

.item:nth-of-type(5n+2) .polaroid::before {
    transform: rotate(-6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba($color: #000000, $alpha: 0.4);
}

.item:nth-of-type(5n+3) {
    transform: scale(0.8, 0.8) rotate(-3deg);
    transition: all 0.35s;
}

.item:nth-of-type(5n+3) .polaroid::before {
    transform: rotate(-4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba($color: #000000, $alpha: 0.4);
}

.item:nth-of-type(5n+4) {
    transform: scale(0.8, 0.8) rotate(3deg);
    transition: all 0.35s;
}

.item:nth-of-type(5n+4) .polaroid::before {
    transform: rotate(4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba($color: #000000, $alpha: 0.4);
}

.item:nth-of-type(5n+5) {
    transform: scale(0.8, 0.8) rotate(-2deg);
    transition: all 0.35s;
}

.item:nth-of-type(5n+5) .polaroid::before {
    transform: rotate(-3deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba($color: #000000, $alpha: 0.4);
}

.item:hover{
    filter: none;
    transform: scale(1,1) rotate(0deg) !important;
    transition: all 0.35s;
}

.item:hover .polaroid::before{
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 90%;
    width: 90%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rwm rgba($color: #000000, $alpha: 0.2);
    transition: all 0.35s;
}




@media (min-width: 500px) {
    .companies {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width: 650px) {
    body {
        font-size: 18px;
    }

    .wrapper {
        padding: 1.5em 4em;
    }

    .c-container {
        display: flex;
    }

    .arrows {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin: .5em;
    }

    .left {
        transform: rotateZ(180deg);
    }

    ul.carousal {
        display: flex;
        margin-bottom: 0;

        li {
            margin-right: 1em;
            margin-bottom: 0em;
            padding: 2em;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .companies {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 835px) {
    body {
        font-size: 20px;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .companies {
        grid-template-columns: repeat(4, auto);
    }

    h1 {
        font-size: 2.5em;
    }

    .subtitle {
        font-size: 1.2em;
    }

    h2 {
        text-align: left;
        font-size: 2em;
    }

    .v-padding {
        padding: 4em;
    }

    .light-wrapper {
        padding-bottom: 4em;
    }

    .move-up {
        margin-top: -7em;
    }
}

@media (minwidth: 1200px) {
    .stats li {
        border-right: 1px solid #ffaf4d;
        padding-right: 5%;

        &:last-child {
            border: 0;
        }
    }
}